In [1]:
# dependencies
import pandas as pd
import requests
import json
from census import Census

# from uszipcode import SearchEngine

# US zipcode search (simple_zipcode=False provides polygon data)
#search = SearchEngine(simple_zipcode=True)

# census API key
from config import api_key

In [2]:
c = Census(api_key, year=2011)

In [3]:
white_pop_df = pd.DataFrame(c.acs5.state('B02001_002E', Census.ALL))

white_pop_df = white_pop_df.rename(columns={'B02001_002E': 'white_pop'})

white_pop_df = white_pop_df.set_index('state')

In [4]:
total_pop_df = pd.DataFrame(c.acs5.state('B01003_001E', Census.ALL))

total_pop_df = total_pop_df.rename(columns={'B01003_001E': 'total_pop'})

total_pop_df = total_pop_df.set_index('state')

total_pop_df

        total_pop
state
01      4747424.0
02       700703.0
04      6337373.0
05      2895928.0
06     36969200.0
08      4966061.0
09      3558172.0
10       890856.0
11       593955.0
12     18688787.0
13      9600612.0
15      1346554.0
16      1549987.0
17     12790182.0
18      6454254.0
19      3032266.0
20      2830985.0
21      4316040.0
22      4484596.0
23      1328543.0
24      5736545.0
25      6512227.0
26      9920621.0
27      5278190.0
28      2956700.0
29      5955802.0
30       982854.0
31      1813061.0
32      2673396.0
33      1315911.0
34      8753064.0
35      2037136.0
36     19302448.0
37      9418736.0
38       666783.0
39     11525536.0
40      3714520.0
41      3801991.0
42     12660739.0
44      1053959.0
45      4575864.0
46       807697.0
47      6297991.0
48     24774187.0
49      2715379.0
50       624958.0
51      7926192.0
53      6652845.0
54      1846372.0
55      5664893.0
56       554697.0
72      3742586.0

In [5]:
pop_df = total_pop_df.merge(white_pop_df, how='inner', left_index=True, right_index=True)

#pop_df = pd.merge(total_pop_df, white_pop_df, how='inner', on=total_pop_df['id']==white_pop_df['state'])

In [6]:
pop_df['pct_white'] = round((pop_df.white_pop / pop_df.total_pop *100), 2)

In [7]:
pop_df['fips'] = pop_df.index

In [8]:
min(pop_df.pct_white), max(pop_df.pct_white)

(24.95, 95.48)

In [17]:
pop_df = pop_df.astype({'fips': 'int32'})

In [18]:
pop_df.dtypes

total_pop    float64
white_pop    float64
pct_white    float64
fips           int32
dtype: object

In [19]:
pop_df.to_json('states2011.json', orient='records')